$white: rgb(245, 245, 245);
$grey: rgb(220, 220, 220);
$dark: rgb(90, 90, 90);
$black: rgb(20, 20, 20);
$crimson: rgb(184, 1, 0);
$pink: rgb(250, 180, 180);

@font-face {
    font-family: RobotoRegular;
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf)
}

@font-face {
    font-family: RobotoBold;
    src: url(./assets/fonts/Roboto/Roboto-Bold.ttf)
}

@font-face {
    font-family: RobotoItalic;
    src: url(./assets/fonts/Roboto/Roboto-Italic.ttf)
}

* {
    font-family: RobotoRegular;
}

body {
    background-color: $white;
}

h1 {
    font-family: RobotoBold;
    text-align: center;
    color: $crimson;
    margin: 50px 0;
}

h2 {
    font-family: RobotoBold;
    margin: 0;
    text-align: center;
    color: $black;
    user-select: none;
}

.toggle-icon {
    margin-left: 20px;
}

section {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: $grey;
    border-radius: 10px;
}

h3 {
    font-family: RobotoBold;
    color: $black;
    margin-bottom: 10px 0;
}

label {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-family: RobotoItalic;
    color: $black;
}

.action-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 220px;
    height: 40px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px 40px;
    border-radius: 10px;
    color: $grey;
    background-color: $crimson;

    .action-text {
        display: inline;
    }
}

.form-question-container {
    position: relative;
    width: 400px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    border: 2px solid $crimson;
    background-color: $white;

    .form-question-type-container {
        display: flex;
        flex-direction: row;
    }
    
    .form-question-type-selector {
        margin-left: 20px;
    }
    
    .delete-form-question {
        position: absolute;
        font-size: 18px;
        right: 20px;
        color: $crimson;
    }
    
    .option-container {
        margin-top: 20px;
    }
    
    .option-container-name {
        margin-bottom: 10px;
    }
    
    hr {
        margin: 30px 0;
        border-width: 0;
        border-bottom-width: 1px;
        border-color: $crimson;
    }
}

.form-question-container:first-of-type {
    margin-top: 40px;
}

input {
    width: 378px;
    height: 40px;
    border: 2px solid $crimson;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    color: $black;
}

.wide-input {
    width: 476px;
}

.json {
    width: 476px;
    border: 2px solid $crimson;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    font-family: RobotoItalic;
    color: $black;
}

.team-input {
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: $grey;

    .team-input-title {
        text-align: center;
        margin-bottom: 20px;
        font-family: RobotoRegular;
        font-size: 32px;
        color: $crimson;
    }

    .team-input-value {
        font-family: RobotoRegular;
        font-size: 24px;
        color: $black;
    }
}